
.DS_Store
scripts/.DS_Store
java-solutions/info/kgeorgiy/ja/bagautdinov/implementor/javadoc/allpackages-index.html
java-solutions/info/kgeorgiy/ja/bagautdinov/implementor/javadoc/allclasses-index.html
/.idea
